.scanner-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #154941;
}
 
.scanner-container {
  background-color: #75c5b8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.scannerbus-img {
  margin-bottom: 20px;
}

.barcode-scanner {
    border-radius: 10px;
  width:270px;
  height: 100px;
margin-top: 50px;
  border: 2px solid black;
} 
