.add-new-student-container {
  padding: 20px;
  max-width: 370px;
  margin: auto;
  background-color: #168070;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radio-group label {
  margin-right: 15px;
}

.radio-label {
  display: flex;
  align-items: center;
}

.radio-label input {
  margin-right: 5px;
}

.new-parent-info, .existing-parent-info {
  margin-top: 20px;
}

.add-student-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


