.addscreens{
  width: 100vw; 
  height: 100vh;
 background-color:  #168070;
display: flex;
 flex-direction: column;
 align-items: center;
}


.addscreen-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #837e7e;
  text-align: center;
  width: 350px;
}

.addbutton-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  padding: 15px 25px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #d0d0d0;
}

.grid-item:active {
  background-color: #c0c0c0;
}

  @media (max-width: 600px) {
    .grid-item {
      padding: 15px;
      font-size: 14px;
    }
  }
  
  