.historypagecontainer {
    background-color: #168070;
    padding: 20px;
  }
  
  .picker-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .picker-wrapper {
    margin-right: 5px;
  }
  
  .picker-text {
    color: white;
    font-size: 20px;
  }
  
  .picker {
    margin-top: 10px;
    padding: 10px;
    background-color: #2FAA98;
    border: 2px solid #2FAA98;
    border-radius: 15px;
    color: white;
    font-size: 20px;
  }
  
  .flat-list-row {
    border: 1px solid white;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
  }
  
  .history-type {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: -20px;
  }
  
  .history-description {
    color: black;
    font-size: 20px;
  }
  
  .date-time {
    color: black;
    font-size: 12px;
    text-align: right;
  }
  
  /* Added Styles */
  .date-picker-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .date-time-picker {
    position: absolute;
    top: calc(100% + 10px);
    z-index: 999;
    
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  