.changepassword-screen {
  background-color: #168070; /* Green background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
 
  height: 100vh;
}

.changepassword-container {
  background-color: #389688; /* Light green background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.lock-icon img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.password-fields input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addnewconductor-button {
  background-color: white;
  color: #32CD32;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addnewconductor-button:hover {
  background-color: #f0f0f0;
}

.edit-stops {
  margin-top: 20px;
}
